* {
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(41, 41, 41);
  color: #fff;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
header p {
  color: gray;
}
main {
  overflow: hidden;
}
main h1 {
  font-size: 1.5em;
}
main .produk {
  box-sizing: border-box;
}
